$font-heading: Georgia, Times, "Times New Roman", serif;
$font-body: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial", "sans-serif";

body {
    font-family: $font-body;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: bold;
}

h1 {
    font-size: 250%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
h4 {
    font-size: 125%;
}
h5 {
    font-size: 110%;
}
h6 {
    font-size: 100%;
}

iframe, img {
    max-width: 100%;
}
