
<div class="header">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="header-caption">
                <h1>We Are Code For Dayton.</h1>
                <p class="lead">
                    We are a local chapter of Code for America Brigade supporting civic hacking in Dayton, Ohio.
                </p>
                <a class="btn btn-lg header-btn" href="/events">
                    <img src="/images/meetup-logo.svg" class="header-icon" />
                    Stop By Our Meetups
                </a>
                <a class="btn btn-lg header-btn" href="http://opendayton.org">
                    <img src="/images/slack-white.png" class="header-icon" />
                    Join us on Slack
                </a>
            </div>
        </div>
    </div>
</div>
