<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">
        {% include navigation.html %}
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar-wrapper -->


<!-- fork me banner, top right
================================================== -->
<a class="forkme" href="https://github.com/codefordayton/codefordayton.github.io"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 100;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>


<!-- Carousel - only using one at the moment
  ================================================== -->
<div class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We Are Code For Dayton.</h1>
                    <p class="lead">
                        We are a local chapter of Code for America Brigade supporting civic hacking in Dayton, Ohio.
                    </p>
                    <a class="btn btn-large btn-primary" href="http://www.meetup.com/Code-for-Dayton/">Stop By Our Meetups</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.carousel -->
