<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/images/logo.png" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-links">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/#partners">Partners</a></li>
                <li><a href="/#contact">Contact</a></li>

                <li class="dropdown" id="menu1">
                    <a href="#menu1" class="dropdown-toggle" data-toggle="dropdown">
                    Resources
                    <b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://www.meetup.com/Code-for-Dayton/">
                                <i class="icon-user" icon-white=""></i> Our Gatherings on Meetup</a>
                        </li>
                        <li>
                            <a href="https://github.com/codefordayton">
                                <i class="icon-wrench" icon-white=""></i> Our Code on GitHub</a>
                        </li>
                        <li>
                            <a href="http://codefordayton.uservoice.com/">
                                <i class="icon-thumbs-up" icon-white=""></i> Idea List for Civic Apps and Open Data</a>
                        </li>
                        <li>
                            <a href="https://github.com/codefordayton/codeofconduct">
                                <i class="icon-cog" icon-white=""></i> Code of Conduct</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="https://twitter.com/search?q=%23cfabrigade">
                                <i class="icon-retweet" icon-white=""></i> #cfabrigade - National Tweets</a>
                        </li>
                        <li>
                            <a href="http://codeforamerica.tumblr.com/">
                                <i class="icon-bullhorn" icon-white=""></i> Brigade's Tumblr</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://secure.codeforamerica.org/page/contribute/default?custom1=Please%20send%20to%20Code%20for%20Dayton">
                        <i class="glyphicon glyphicon-heart"></i> Donate
                    </a>
                </li>
            </ul><!-- navbar-nav -->
        </div><!-- collapse -->
    </div> <!-- container -->
</div><!-- navbar -->
