.memberbox {
    margin-top: 15px;
    margin-bottom: 10px;
}
.memberbox h2 {
    color: #aaa;
    font-size: 150%;
    margin-bottom: 0;
}
.carousel-caption .pix-thumb {
    position: relative;
    min-width: 45px;
    margin-right: 5px;
    border-radius: 6px;
    width: 45px;
    height: 45px;
    background-image: url("./assets/images/captain.png");
    background-size: 100% 100%;
}
.membercheckin {
    margin-top: 20px;
    color: #fff;
}
.carousel-caption {
    margin-top: 100px;
}
.tip {
    display: inline-block;
    position: relative;
}
