
.header {
    background-image: url('../images/dayton-top.jpg');
    background-size: cover;
    margin-bottom: 30px;
    margin-top: -30px;
    padding-top: 45px;
    min-height: 500px;
    width: 100%;
}

.header-btn {
    color: #f3f3f3;
    background-color: $color-cfd;
}
.header-btn:hover {
    color: #ffffff;
    background-color: $color-cfd-alt;
}

.header-caption {
    background-color: rgba(0,0,0,0.75);
    border-radius: 5px;
    color: #fff;
    max-width: 768px;
    padding: 1.5em;
    text-align: left;

    h1 {
        margin-top: 0;
    }
}

.header-icon {
    height: 32px;
    width: 32px;
}

.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0,0,0,.4);
}
